@page
@model IndexModel
@{
    ViewData["Title"] = "Quicker辅助工具";
}

<div>
    <div class="bg-light p-2 rounded mb-3">
        本站点提供了一些通用的API，方便您使用Quicker或其它工具处理文本（或其它）内容。
        <br />
        <a href="https://github.com/cuiliang/tools.getquicker.cn">源代码Github仓库（基于.Net 5.0）</a>。

    </div>
    <h2 class="mt-5">
        API
    </h2>
    <ul style="list-style: none">
        <li>
            <a href="/swagger/">浏览API文档</a>
        </li>
    </ul>

    <h2>网页工具</h2>
    <ul style="list-style: none;">
        <li>
            <a href="/static/pushtool.html">推送小工具：从手机发送文本到电脑。</a>（<a href="https://getquicker.net/KC/Help/Doc/connection">参考</a>）
        </li>
        <li>
            <a href="/static/ws.html">Websocket功能测试。</a>（Quicker1.30.0+）
        </li>
        <li>
            <a href="/browser/useragent">查看浏览器UserAgent</a>
        </li>
        <li>
            <a href="/api/ip/myip">您的IP地址</a>
        </li>
    </ul>
    
    
</div>
