@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        欢迎使用Quicker辅助工具。
    </p>
    <ul style="list-style: none;">
        <li>
            <a href="/static/pushtool.html">推送小工具：从手机发送文本到电脑。</a>
        </li>
    </ul>
    <hr/>
    <p>本网站已开源在：<a href="https://github.com/cuiliang/tools.getquicker.cn">Github仓库</a>。</p>
</div>
